<mat-card class="mat-elevation-z7">
  <mat-card-title>Crie um novo Produto</mat-card-title>
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <app-input
        [fieldName]="'name'"
        [formControlName]="'name'"
        [placeHolder]="'Nome do produto'"
        [label]="'Nome do produto'"
        [formControl]="getFormControl('name')"
        [formGroup]="formGroup"
      ></app-input>
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea
          matInput
          name="description"
          placeholder="Digite a descrição do produto"
          formControlName="description"
          required
          (blur)="onBlurFormControl('description')"
        ></textarea>
        <mat-error *ngIf="formGroup.get('description')?.invalid">
          {{getErrorMessage(formGroup.get('description'))}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Preço de compra</mat-label>
        <input
          matInput
          name="unitPurchasePrice"
          formControlName="unitPurchasePrice"
          placeholder="Preço de compra R$"
          (blur)="onBlurFormControl('unitPurchasePrice')"
        />
        <mat-error *ngIf="formGroup.get('unitPurchasePrice')?.invalid">
          {{getErrorMessage(formGroup.get('unitPurchasePrice'))}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Preço de venda</mat-label>
        <input
          matInput
          placeholder="Preço de venda R$"
          name="unitPurchaseSale"
          formControlName="unitPurchaseSale"
          required
          (blur)="onBlurFormControl('unitPurchaseSale')"
        />
        <mat-error *ngIf="formGroup.get('unitPurchaseSale')?.invalid">
          {{getErrorMessage(formGroup.get('unitPurchaseSale'))}}
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button (click)="cancel()">cancelar</button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="formGroup.invalid"
          type="submit"
        >
          salvar
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
