<mat-card class="mat-elevation-z7">
  <mat-card-title>Crie um novo Produto</mat-card-title>
  <mat-card-content>
    <form
      #productForm="ngForm"
      [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input
          name="name"
          required
          matInput
          [(ngModel)]="product.name"
          formControlName="name"
          placeholder="Produto"
        />
        <mat-error *ngIf="formGroup.get('name')?.invalid">{{getErrorMessage(formGroup.get('name'))}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea
          matInput
          name="description"
          [(ngModel)]="product.description"
          placeholder="Digite a descrição do produto"
          formControlName="description"
          required
        ></textarea>
        <mat-error *ngIf="formGroup.get('description')?.invalid">
          {{getErrorMessage(formGroup.get('description'))}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Preço de compra</mat-label>
        <input
          matInput
          [(ngModel)]="product.unitPurchasePrice"
          name="unitPurchasePrice"
          formControlName="unitPurchasePrice"
          placeholder="Preço de compra R$"
        />
        <mat-error *ngIf="formGroup.get('unitPurchasePrice')?.invalid">
          {{getErrorMessage(formGroup.get('unitPurchasePrice'))}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Preço de venda</mat-label>
        <input
          matInput
          [(ngModel)]="product.unitPurchaseSale"
          placeholder="Preço de venda R$"
          name="unitPurchaseSale"
          formControlName="unitPurchaseSale"
          required
        />
        <mat-error *ngIf="formGroup.get('unitPurchaseSale')?.invalid">
          {{getErrorMessage(formGroup.get('unitPurchaseSale'))}}
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button (click)="cancel()">cancelar</button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="formGroup.invalid"
          type="submit"
        >
          salvar
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
