<mat-card>
  <mat-card-title>Crie um novo Produto</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput #name placeholder="Produto" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <textarea
        matInput
        #description
        placeholder="Digite a descrição do produto"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Preço de compra</mat-label>
      <input matInput #unitPurchasePrice placeholder="Preço de compra R$" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Preço de venda</mat-label>
      <input matInput #unitPurchaseSale placeholder="Preço de venda R$" />
    </mat-form-field>
    <button class="mat-button">cancelar</button>
    <button class="mat-button">salvar</button>
  </mat-card-content>
</mat-card>
