<mat-card class="mat-elevation-z4">
  <form #productForm="ngForm">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input
          matInput
          [(ngModel)]="product.name"
          name="name"
          #name="ngModel"
          placeholder="Produto"
          required
        />
        <mat-error *ngIf="name.invalid">campo obrigatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="selectedCategory" name="category">
          <mat-option *ngFor="let category of categories" [value]="category">{{
            category
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Preço de compra</mat-label>
        <input
          matInput
          [(ngModel)]="product.unitPurchasePrice"
          name="unitPurchasePrice"
          type="number"
          placeholder="R$0,00"
          #purchasePrice="ngModel"
          required
        />
        <mat-error *ngIf="purchasePrice.invalid">valor inválido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Preço de venda</mat-label>
        <input
          matInput
          [(ngModel)]="product.unitPurchaseSale"
          name="unitPurchaseSale"
          type="number"
          placeholder="0,00"
          required
          #purchaseSale="ngModel"
        />
        <mat-hint align="end"
          >valor deve ser maior que
          {{ purchasePrice.value | currency: 'BRL' }}</mat-hint
        >
        <mat-error *ngIf="purchaseSale.invalid">valor invalido</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="cancel()">cancel</button>
      <button
        mat-raised-button
        [disabled]="productForm.invalid"
        (click)="update()"
        color="primary"
      >
        save
      </button>
    </mat-card-actions>
  </form>
</mat-card>
