<mat-card class="mat-elevation-z7">
  <mat-card-title>Editar</mat-card-title>
  <form [formGroup]="formGroup" (ngSubmit)="update()">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input
          matInput
          name="name"
          formControlName="name"
          placeholder="Produto"
          required
        />
        <mat-error *ngIf="formGroup.get('name')?.invalid">{{getErrorMsg('name')}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category" name="category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Preço de compra</mat-label>
        <input
          matInput
          formControlName="unitPurchasePrice"
          name="unitPurchasePrice"
          type="number"
          placeholder="R$0,00"
          required
        />
        <mat-error *ngIf="formGroup.get('unitPurchasePrice')?.invalid">{{getErrorMsg('unitPurchasePrice')}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Preço de venda</mat-label>
        <input
          matInput
          name="unitPurchaseSale"
          formControlName="unitPurchaseSale"
          type="number"
          placeholder="0,00"
          required
        />
        <!--        <mat-hint align="end"-->
        <!--        >valor deve ser maior que-->
        <!--          {{ purchasePrice.value | currency: 'BRL' }}</mat-hint-->
        <!--        >-->
        <mat-error *ngIf="formGroup.get('unitPurchaseSale')?.invalid">{{getErrorMsg('unitPurchaseSale')}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantidade</mat-label>
        <input
          matInput
          name="quantity"
          formControlName="quantity"
          type="number"
          min="0"
          placeholder="1"
          required
        />
        <mat-error *ngIf="formGroup.get('quantity')?.invalid">{{getErrorMsg('quantity')}}</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="cancel()">cancel</button>
      <button
        mat-raised-button

        color="primary"
        type="submit"
      >
        save
      </button>
    </mat-card-actions>
  </form>
</mat-card>
