body {
  background-color: #303030;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.footer {
}
.section {
  color: coral;
}
.header {
  color: aqua;

}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.nav {
  color: chartreuse;
}

mat-typography {
  background-color: #ff0000;
}
