.header {
  display: flex;
  align-items: center;
  background-color: var(--primary-800);
  height: 100px;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header a,
button {
  color: white;
}

.header a i {
  padding-right: 2px;
}
.header a span {
  font-size: 1.5em;
}
.header a:hover,
button:hover {
  opacity: 70%;
}

.toolbar-separator {
  flex: 1 1 auto;
}

.mat-menu-item i {
  vertical-align: baseline;
  margin-right: 5px;
}

.mat-menu-item span {
  vertical-align: super;
  font-size: 1.2em;
}

.home {
  font-size: 1.5em;
}
