<mat-toolbar class="header mat-elevation-z3">
  <span>
    <a routerLink="">
      <i class="material-icons md-36"> home </i>
      <span>Início</span>
    </a>
  </span>
  <span class="toolbar-separator"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <i class="material-icons md-36"> account_circle</i>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <i class="material-icons md-24">person_add</i>
      <span>criar</span>
    </button>
    <button mat-menu-item color="primary">
      <i class="material-icons md-24">login</i>
      <span>login</span>
    </button>
  </mat-menu>
</mat-toolbar>
