/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: var(--background);
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
:root {
  --primary-500: #673ab7;
  --primary-700: #512da8;
  --primary-800: #4527a0;
  --accent-primary: #e040fb;
  --accent-secondary: #03dac5;
  --primary-text: #ffffff;
  --background: #303030;
  --background-secondary: #424242;
  --warn: tomato;
}

.snackBar {
  background-color: var(--primary-700);
  color: var(--primary-text);
}
.snackBarError {
  background-color: var(--warn);
  color: var(--primary-text);
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
