.mat-toolbar {
  background-color: var(--primary-800);
}
.mat-toolbar-row {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: space-around;
  text-align: center;
}
button {
  color: white;
}
